//.sticky {
//  position: fixed;
//  top: 0;
//  width: 100%
//}

.headerContainer {
  position: fixed;
  top: 0;
  z-index: 1000;

  height: 64px;
  width: 100%;
  background-color: #204025;
  text-align: left;
  align-content: center;
  opacity: 8%;

  header {
    padding: 0 20px;
  }
}

  
.headerText {
    display: inline-block;
    text-align: left;
    color: #ccc;
}
  
.headerIcon {
    display: inline-block;
    color: black;
}

