.sticky {
  position: fixed;
  top: 0;
  width: 100%
}


  .header-container {
    position: fixed;
    top: 0;
    z-index: 1000;

    height: 64px;
    width: 100%;
    background-color: #204025;
    text-align: left;
    align-content: center;
    opacity: 8%;
  }
  
  header {
    padding: 0 20px;
  }
  
  .header__text {
    display: inline-block;
    text-align: left;
    color: #ccc;
  }
  
  .header__icon {
    display: inline-block;
    color: black;
  }

