.general {
    display: flex;
    justify-content: center;

}

.studentListHeader{
    padding-top: 17%;

}

.studentListContainer{
    padding-top: 3%;

}

// .studentListHeaderContainer{
//     display: flex; 
// }
